<section (click)="closeModal()" class="modal">
	<div (click)="stopPropagation($event)" class="modal-content item-entry-form-container">
		<p class="close" (click)="closeModal()" >&times;</p>
		<form (ngSubmit)="submitForm($event)" class="item-form">
			<label for="title"> Title:</label><br>
			<input type="text" name="title" placeholder="Item Title..." [(ngModel)]="item.title" #title><br><br>
			<label for="body">Description:</label><br>
			<textarea name="body" placeholder="Optional Item Description..." [(ngModel)]="item.description"></textarea>
		</form>
		<div class="text-center">
			<button (click)="submitForm($event)" class="add-button button">Add</button>
		</div>
		
	</div>
</section>
