<section cdkDrag cdkDragLockAxis="y" class="todo-item" (swipeleft)="onSwipeLeft($event)" (swiperight)="onSwipeRight($event)" #item>
	<div class="drag-placeholder" *cdkDragPlaceholder></div>
	<div class="reorder-handle" cdkDragHandle>
		<i class="fas fa-bars"></i>
	</div>
	<div *ngIf="!isEditing; else showEditing" class="item-content" (click)="showBody()">
		<p [@titleStyle]="isFullHeight ? 'decorated' : 'plain'" class="item-title">{{ getTitle() }}</p>
		<p [@grow]="isFullHeight ? 'fullHeight' : 'noHeight'" class="item-body">{{ getBody() }}</p>
	</div>
	<div class="modify-btns" [@toggleModifyBtns]="isModify ? 'show' : 'hidden'">
		<div *ngIf="!isEditing; else showSave" class="edit-button" (click)="editItem($event)">
			<i class="fas fa-pencil-alt"></i>
		</div>
		<div class="delete-button" (click)="deleteItem()">
			<i class="fas fa-trash-alt"></i>
		</div>
	</div>
</section>


<ng-template #showEditing>
	<div class="item-content">
		<input type="text" name="title" placeholder="Item Title..." [(ngModel)]="model.title" #title/>
		<textarea name="body" placeholder="Optional Item Description..." [(ngModel)]="model.description"></textarea>
	</div>
</ng-template>

<ng-template #showSave>
	<div class="edit-button" (click)="saveItem($event)">
		<i class="fas fa-save"></i>
	</div>
</ng-template>