@import "variables"
@import "mixins"

.plz-login
	font-family: 'Montserrat', sans-serif
	font-size: 40pt

.viewport
	position: fixed
	width: 100%
	height: 100%
	@include gradient()
	background-blend-mode: multiply
	overflow-y: auto

.content
	max-width: 1000px
	margin: 0 auto
	margin-top: 50px
	overflow-y: auto
	padding: 0 10px

.login-card
	margin: 0 auto
	max-width: 600px
	border-radius: 5px
	padding: 20px
	background: $dark-grey
	color: white

	&-footer
		margin-top: 20px
		text-align: center

.header
	position: sticky
	top: 0
	left: 0
	background-color: $dark-grey
	padding: 10px
	text-align: right

.addbtn
	$size: 60px
	position: fixed
	bottom: 20px
	right: 20px
	background-color: $dark-grey
	border-radius: 100%
	color: white
	font-size: 40pt
	width: $size
	height: $size
	text-align: center
	line-height: $size
	cursor: pointer
